# Pandas Core Functions for Data Science, ML & AI

This notebook covers **30 most important Pandas functions** used in:
- Data Analysis
- Data Science
- Machine Learning
- Artificial Intelligence

Each function includes:
- Definition
- Syntax
- Practical Example

## pd.Series()
**Definition:** Creates a Pandas Series (1D).

**Syntax:** `pd.Series(data)`

In [ ]:
import pandas as pd
import pandas as pd
s = pd.Series([10,20,30])
s

## pd.DataFrame()
**Definition:** Creates a DataFrame (2D).

**Syntax:** `pd.DataFrame(data)`

In [ ]:
import pandas as pd
pd.DataFrame({'A':[1,2],'B':[3,4]})

## head()
**Definition:** Returns first n rows.

**Syntax:** `df.head(n)`

In [ ]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,3]}); df.head(2)

## tail()
**Definition:** Returns last n rows.

**Syntax:** `df.tail(n)`

In [ ]:
import pandas as pd
df.tail(2)

## info()
**Definition:** Summary of DataFrame.

**Syntax:** `df.info()`

In [ ]:
import pandas as pd
df.info()

## describe()
**Definition:** Statistical summary.

**Syntax:** `df.describe()`

In [ ]:
import pandas as pd
df.describe()

## shape
**Definition:** Rows and columns.

**Syntax:** `df.shape`

In [ ]:
import pandas as pd
df.shape

## columns
**Definition:** Column labels.

**Syntax:** `df.columns`

In [ ]:
import pandas as pd
df.columns

## index
**Definition:** Row index.

**Syntax:** `df.index`

In [ ]:
import pandas as pd
df.index

## loc[]
**Definition:** Label-based selection.

**Syntax:** `df.loc[row,col]`

In [ ]:
import pandas as pd
df.loc[0,'A']

## iloc[]
**Definition:** Index-based selection.

**Syntax:** `df.iloc[row,col]`

In [ ]:
import pandas as pd
df.iloc[0,0]

## isnull()
**Definition:** Detects missing values.

**Syntax:** `df.isnull()`

In [ ]:
import pandas as pd
df.isnull()

## fillna()
**Definition:** Fills missing values.

**Syntax:** `df.fillna(value)`

In [ ]:
import pandas as pd
df.fillna(0)

## dropna()
**Definition:** Drops missing values.

**Syntax:** `df.dropna()`

In [ ]:
import pandas as pd
df.dropna()

## drop()
**Definition:** Drops rows/columns.

**Syntax:** `df.drop()`

In [ ]:
import pandas as pd
df.drop('A',axis=1)

## astype()
**Definition:** Changes data type.

**Syntax:** `df.astype(dtype)`

In [ ]:
import pandas as pd
df.astype({'A':float})

## value_counts()
**Definition:** Counts unique values.

**Syntax:** `s.value_counts()`

In [ ]:
import pandas as pd
pd.Series([1,1,2]).value_counts()

## unique()
**Definition:** Returns unique values.

**Syntax:** `s.unique()`

In [ ]:
import pandas as pd
pd.Series([1,2,2]).unique()

## nunique()
**Definition:** Count unique values.

**Syntax:** `s.nunique()`

In [ ]:
import pandas as pd
pd.Series([1,2,2]).nunique()

## groupby()
**Definition:** Groups data.

**Syntax:** `df.groupby(col)`

In [ ]:
import pandas as pd
df.groupby('A').sum()

## merge()
**Definition:** Joins DataFrames.

**Syntax:** `pd.merge(df1,df2)`

In [ ]:
import pandas as pd
pd.merge(df1,df2,on='id')

## concat()
**Definition:** Concatenates DataFrames.

**Syntax:** `pd.concat([df1,df2])`

In [ ]:
import pandas as pd
pd.concat([df,df])

## sort_values()
**Definition:** Sorts values.

**Syntax:** `df.sort_values(col)`

In [ ]:
import pandas as pd
df.sort_values('A')

## apply()
**Definition:** Applies function.

**Syntax:** `df.apply(func)`

In [ ]:
import pandas as pd
df.apply(lambda x:x.max())

## map()
**Definition:** Maps values.

**Syntax:** `s.map(func)`

In [ ]:
import pandas as pd
pd.Series([1,2]).map(lambda x:x*2)

## rename()
**Definition:** Renames columns.

**Syntax:** `df.rename()`

In [ ]:
import pandas as pd
df.rename(columns={'A':'Alpha'})

## set_index()
**Definition:** Sets index.

**Syntax:** `df.set_index(col)`

In [ ]:
import pandas as pd
df.set_index('A')

## reset_index()
**Definition:** Resets index.

**Syntax:** `df.reset_index()`

In [ ]:
import pandas as pd
df.reset_index()

## to_csv()
**Definition:** Exports CSV.

**Syntax:** `df.to_csv(path)`

In [ ]:
import pandas as pd
df.to_csv('data.csv')

## read_csv()
**Definition:** Reads CSV.

**Syntax:** `pd.read_csv(path)`

In [ ]:
import pandas as pd
# pd.read_csv('data.csv')